* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: space-around;
}

.email-senha {
  width: 50%;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#selection {
  display: flex;
  justify-content: space-evenly;
}

#conteiner1 {
  display: flex;
  width: fit-content;
  gap: 30px;
  justify-content: space-around;
  margin: 20px;
}

#conteiner2 {
  display: flex;
  width: fit-content;
  gap: 30px;
  justify-content: space-around;
  margin: 20px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  margin: 0;
  padding: 0;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  justify-content: flex-end;
  width: 33%;
  padding-right: 10px;
}

.trybewarts-header-logo {
  height: 80px;
  width: 25%;
}

.info-conteiner {
  width: 300px;
}

#trybewarts-header-title {
  width: 33%;
  text-align: center;
}

#avaliation {
  display: flex;
  justify-content: space-around;
}

#avaliation-options {
  width: 500px;
  margin: 20px;
}

#label-rate {
  margin: 20px;
}

#comment-conteiner {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#button-conteiner {
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-bottom: 20px;
}

#submit-btn {
  width: 70px;
}

footer {
  background-color: saddlebrown;
  color: aliceblue;
  padding: 20px;
  margin: 0%;
}
