#evaluation-form {
  border: 1px black solid;
  width: 675px;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

#selection {
  display: flex;
  flex-direction: row;
}

#info {
  display: grid;
  grid-template-columns: auto auto;
}

#subject-options {
  display: flex;
}
