#evaluation-form {
  border: 1px black solid;
  width: 675px;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

#house {
  display: flex;
  flex-direction: column;
}
